.register-container {
  margin-top: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../resources/img/background-map-3.png');
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 50px rgb(0, 0, 0);
}